services:
  db:
    image: "postgres"
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    expose:
      - 5432
    volumes:
      - database-volume:/var/lib/postgresql/data
    networks:
      - slimevr-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5
  api:
    build:
      context: .
    expose:
      - 3000
    logging:
      driver: "json-file"
      options:
        max-size: "50m"
    depends_on:
      db: 
        condition: service_healthy
      minio:
        condition: service_started
    volumes:
      - ./drizzle:/app/drizzle
      - ./sources.json:/data/sources.json
    networks:
      - slimevr-network
      - traefik
    secrets:
      - access_key
      - secret_key
    environment:
      APP_ENV: development
      SUPPORTED_VERSIONS: ${SUPPORTED_VERSIONS}
      GITHUB_AUTH_KEY: ${GITHUB_AUTH_KEY}
      SENTRY_DSN: ${SENTRY_DSN}
      S3_BUCKET: ${S3_BUCKET}
      S3_ENDPOINT: http://minio:9099
      DATABASE_URL: "postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}"
      SOURCES_JSON_PATH: /data/sources.json
    labels:
      - traefik.enable=true
      - traefik.http.routers.slimevr-api-v2.rule=Host(`fw-tool-api-v2.slimevr.io`)
      - traefik.http.routers.slimevr-api-v2.tls=true
      - traefik.http.routers.slimevr-api-v2.tls.certresolver=letsencrypt
      - traefik.http.services.slimevr-api-v2.loadbalancer.server.port=3000
  minio:
    image: minio/minio:latest
    volumes:
      - storage-minio:/data
    secrets:
      - access_key
      - secret_key
    command: server --address ":9099" --console-address ":9000" /data/disk{1...4}
    restart: always
    expose:
      - 9099
      - 9000
    networks:
      - slimevr-network
      - traefik
    labels:
      - traefik.enable=true
      - traefik.http.routers.slimevr-api-v2-s3.rule=Host(`fw-tool-bucket-v2.slimevr.io`)
      - traefik.http.routers.slimevr-api-v2-s3.tls=true
      - traefik.http.routers.slimevr-api-v2-s3.tls.certresolver=letsencrypt
      - traefik.http.services.slimevr-api-v2-s3.loadbalancer.server.port=9099
  minio-init:
    image: minio/mc:latest
    depends_on:
     minio:
        condition: service_started
    networks:
      - slimevr-network
    secrets:
      - access_key
      - secret_key
    entrypoint: >
      /bin/sh -c "
      sleep 3;
      /usr/bin/mc alias set slimevr http://minio:9099 `cat /run/secrets/access_key` `cat /run/secrets/secret_key`;
      /usr/bin/mc admin update slimevr;
      /usr/bin/mc mb --ignore-existing slimevr/slimevr-firmware-builds;
      /usr/bin/mc anonymous set download slimevr/slimevr-firmware-builds;
      exit 0;
      "

volumes:
  database-volume:
  storage-minio:
    external: false

secrets:
  access_key:
    file: ./docker/minio/access_key.txt
  secret_key:
    file: ./docker/minio/secret_key.txt

networks:
  slimevr-network:
  traefik:
    external: true
