services:
  db:
    image: "postgres"
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    expose:
      - 5432
    volumes:
      - database-volume:/var/lib/postgresql
    networks:
      - slimevr-network
  api:
    build:
      context: .
    ports:
      - 3000:3000
    logging:
      driver: "json-file"
      options:
        max-size: "50m"
    depends_on:
      - db
      - minio
    volumes:
      - ./src:/app/src
      - ./drizzle:/app/drizzle
      - ./sources.json:/data/sources.json
    networks:
      - slimevr-network
    secrets:
      - access_key
      - secret_key
    environment:
      APP_ENV: development
      SUPPORTED_VERSIONS: ${SUPPORTED_VERSIONS}
      GITHUB_AUTH_KEY: ${GITHUB_AUTH_KEY}
      SENTRY_DSN: ${SENTRY_DSN}
      S3_BUCKET: ${S3_BUCKET}
      S3_ENDPOINT: http://minio:9099
      DATABASE_URL: "postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}"
      SOURCES_JSON_PATH: /data/sources.json
  minio:
    image: minio/minio:latest
    volumes:
      - storage-minio:/data
    secrets:
      - access_key
      - secret_key
    command: server --address ":9099" --console-address ":9000" /data/disk{1...4}
    restart: always
    ports:
      - 9099:9099
      - 9000:9000
    networks:
      - slimevr-network
  minio-init:
    image: minio/mc:latest
    depends_on:
      - minio
    networks:
      - slimevr-network
    secrets:
      - access_key
      - secret_key
    entrypoint: >
      /bin/sh -c "
      sleep 3;
      /usr/bin/mc alias set slimevr http://minio:9099 `cat /run/secrets/access_key` `cat /run/secrets/secret_key`;
      /usr/bin/mc admin update slimevr;
      /usr/bin/mc mb --ignore-existing slimevr/slimevr-firmware-builds;
      /usr/bin/mc anonymous set download slimevr/slimevr-firmware-builds;
      exit 0;
      "

volumes:
  database-volume:
  storage-minio:
    external: false

secrets:
  access_key:
    file: ./docker/minio/access_key.txt
  secret_key:
    file: ./docker/minio/secret_key.txt

networks:
  slimevr-network:
