{
  email loucass003@gmail.com
}

slimevr-flasher-api.futurabeast.com {
    reverse_proxy slimevr-api:3000
}

slimevr-flasher-s3-minio.futurabeast.com {
  reverse_proxy slimevr-api-s3:9000
}

slimevr-flasher-s3.futurabeast.com {
  reverse_proxy slimevr-api-s3:9099
}